@import "material-dashboard/mixins";
@import "material-dashboard/variables";
@import "material-dashboard/typography";
@import "material-dashboard/sidebar";
@import "material-dashboard/toolbar";
@import "material-dashboard/misc";
@import "material-dashboard/inputs";
@import "material-dashboard/footer";
@import "material-dashboard/cards";
@import "material-dashboard/tables";
@import "material-dashboard/tabs";
@import "material-dashboard/checkboxes";
@import "material-dashboard/tooltips";
@import "material-dashboard/buttons";
@import "material-dashboard/alerts";
@import "material-dashboard/fixed-plugin";
@import "material-dashboard/dropdown";
.img-more{ width: 120px;}
.v-alert{position: fixed; width:auto;top:0;left:0;right:0;margin: auto; z-index: 999;}
.echarts {
  width: 100%;
  height: 100%;
  &.sm{
    min-height: 180px;
  }
  &.lg{
    min-height: 280px;
  }
}
.theme--light,.theme--dark{
  &.error--text{
    color: #ff5252!important;
  }
}

.v-datatable{
  .old_p{color: #81e081;}
  .male{ color: #64cfff}
  .female{color: #ffa4ff;}
  .img{ width: 50px;}
  .img-more{ width: 85px;}
}
.flex{
  align-items:stretch;
}
.v-dialog__content {
  .v-text-field__slot .v-label{
    font-size: 17px;
    top:0;
  }
  .v-title{
     margin: 0; padding-bottom: 20px;
  }
  .v-input--is-disabled:not(.v-input--is-readonly){
    margin-top: 10px;
  }
  .v-badge__badge.primary {
    border: 0 !important;
    display: block;
    border-radius: 0;
    font-size: $font-size-mini;
    height: $badge-dimension;
    line-height:$badge-dimension;
    right: 0;
    left:0;
    top: auto;
    bottom: 0-$badge-dimension/2;
    text-align: center;
    width: 100%;
    font-weight: $font-weight-base;
  }
}

